fastapi==0.141.1
uvicorn==0.52.4
python-dotenv==1.2.1

langchain==1.2.10
langgraph==1.0.10
langchain-community==0.4.1
langchain-google-genai==4.2.1
langchain-groq==1.1.2
langchain-text-splitters==1.1.1

faiss-cpu==1.15.0
pypdf==6.10.2